<div
  class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-8 font-outfit"
>
  <div
    *ngFor="let product of products"
    class="bg-white rounded-lg shadow-2xl hover:shadow-xl transition duration-300 p-4 flex flex-col cursor-pointer"
    [routerLink]="['/details', product.id]"
  >
    <!-- Image with NEW badge -->
    <div class="relative flex justify-center items-center h-44 mb-2">
      <img
        [src]="product.imageUrl"
        [alt]="product.name"
        class="max-h-full object-contain transition-transform duration-300 hover:scale-105"
      />

      <!-- NEW badge inside image -->
      <div
        *ngIf="product.isNew"
        class="absolute top-2 left-2 bg-green-600 text-white text-xs px-2 py-0.5 rounded-full font-medium shadow-md"
      >
        NEW
      </div>
    </div>

    <!-- Details -->
    <div class="flex-1">
      <p class="text-sm text-gray-500">{{ product.brand }}</p>

      <h3 class="font-semibold text-lg mt-1 truncate">{{ product.name }}</h3>

      <div class="mt-4 flex items-center gap-2">
        <span
          *ngIf="product.discountPrice"
          class="line-through text-gray-400 text-sm"
        >
          ${{ product.price }}
        </span>
        <span class="text-xl font-bold text-gray-800">
          ${{ product.discountPrice || product.price }}
        </span>
      </div>
    </div>
  </div>
</div>
